@page "/dexuatchinhsuadulieu"
@inject IMNService MNService
@inject IDeNghiChinhSuaDuLieuService DeNghiService
@inject ISnackbar Snackbar
@inject HttpClient httpclient
@inject AuthenticationStateProvider auth
@*@attribute [Authorize(Roles = "BAOCAOBHNB")]*@

<MudPaper Width="100%" Class="d-flex align-content-space-between flex-wrap flex-grow-1 gap-4" Height="560px;">
	<MudPaper Height="518px;" Style="margin: 2px 0px 2px 0px;" Outlined="true" Elevation="2">
		<MudCard>
			<MudCardHeader Style="background-color: #E0E0E0; height: 50px;">
				<CardHeaderContent>
					<MudText Style=" background-color : #E0E0E0; font-family: 'Times New Roman', Times, serif;" Typo="Typo.h5"><b>Đề Xuất Chỉnh Sửa Dữ Liệu </b></MudText>
				</CardHeaderContent>
			</MudCardHeader>
			<MudCardContent>
				<MudGrid Spacing="1">
					<MudItem xs="12" sm="6" md="3">
						<MudTextField T="string" Style="font-size:small;" Label="Số Phiếu Biên Nhận" Required="true" Variant="Variant.Outlined" Margin="Margin.Dense"
										@bind-Value="@inModel.SoChungTu" For="@(() => inModel.SoChungTu)" />
					</MudItem>
					<MudItem xs="12" sm="6" md="3">
						<MudSelect Typo="Typo.subtitle2" T="LCTXETDUYETModel" @bind-Value="@lctXETDUYETModel" Label="Loại Chứng Từ" Variant="Variant.Outlined" ToStringFunc="@converterLoaiChungTuXD" AnchorOrigin="Origin.BottomCenter" Dense="true" Margin="Margin.Dense">
							@if (listChungTuXD != null)
							{
								@foreach (var dv in listChungTuXD)
								{
									<MudSelectItem Value="@dv">@dv.MoTa</MudSelectItem>
								}
							}
						</MudSelect>
					</MudItem>
					<MudItem xs="12" sm="6" md="3">
						<MudSelect Style="font-size:small;" T="LoaiChungTuModel" @bind-Value="@loaiChungTuModel" Label="Chứng từ liên quan" Variant="Variant.Outlined" ToStringFunc="@converterLoaiChungTu" AnchorOrigin="Origin.BottomCenter" Dense="true" Margin="Margin.Dense">
							@if (listLoaiChungTu != null)
							{
								@foreach (var ct in listLoaiChungTu)
								{
									<MudSelectItem  Value="@ct">@ct.LoaiPhieu</MudSelectItem>
								}
							}
						</MudSelect>
					</MudItem>
					<MudItem xs="12" sm="6" md="3">
						<div style="margin-top:10px;">
							<InputFile OnChange="OnChange" accept="image/png, image/jpeg, image/gif" />
						</div>
					</MudItem>
					<MudItem xs="12" sm="6" md="3">
						<MudSelect T="MnNguonGocLoiModel" @bind-Value="@mnNguonGocLoiBaoHanhModel" Label="Nguồn Gốc Lỗi" Variant="Variant.Outlined" ToStringFunc="@converterNguonGocLoiBH" AnchorOrigin="Origin.BottomCenter" Dense="true" Margin="Margin.Dense">
							@if (listNguonGocLoi != null)
							{
								@foreach (var gl in listNguonGocLoi)
								{
									<MudSelectItem Value="@gl">@gl.LoaiLoi</MudSelectItem>
								}
							}
						</MudSelect>
					</MudItem>
					<MudItem xs="12" sm="6" md="3">
						<MudSelect Typo="Typo.subtitle2" T="LCTXETDUYETModel" @bind-Value="@lctXETDUYETModel" Label="Hình Thức Chỉnh Sửa" Variant="Variant.Outlined" ToStringFunc="@converterLoaiChungTuXD" AnchorOrigin="Origin.BottomCenter" Dense="true" Margin="Margin.Dense">
							@if (listChungTuXD != null)
							{
								@foreach (var dv in listChungTuXD)
								{
									<MudSelectItem Value="@dv">@dv.MoTa</MudSelectItem>
								}
							}
						</MudSelect>
					</MudItem>
					<MudItem xs="12" sm="6" md="6">
						<MudTextField Typo="Typo.subtitle2" T="string" Label="Nội dung" Required="true" Variant="Variant.Outlined" Lines="1" Margin="Margin.Dense"
										@bind-Value="@inModel.NoiDung" For="@(()=>inModel.NoiDung)" />
					</MudItem>
				</MudGrid>
			</MudCardContent>
		</MudCard>
	</MudPaper>
	
</MudPaper>

<MudAppBar Bottom="true" Style="width: 100%; height: 40px; background-color: #F9E5A4;">
	<MudPaper Class="d-flex justify-center flex-grow-1" Elevation="0" Style="background-color: #F9E5A4; margin-left: 5%;">
		<MudPaper Class="mud-theme-info" Width="160px" Height="35px">
			<MudButton Disabled="@disableAdd" Style="width:160px;height:35px;" OnClick="@UpdateStateButtonAdd" Variant="Variant.Filled" Size="Size.Small" StartIcon="@Icons.Filled.RemoveRedEye" Color="Color.Info">Xem Quy Trình</MudButton>
		</MudPaper>
		<MudPaper Class="mud-theme-info" Width="80px" Height="35px">
			<MudButton Disabled="@disableAdd" Style="width:80px;height:35px;" OnClick="@UpdateStateButtonAdd" Variant="Variant.Filled" Size="Size.Small" StartIcon="@Icons.Material.Filled.Add" Color="Color.Info">Thêm</MudButton>
		</MudPaper>
		<MudPaper Class="mud-theme-info" Width="80px" Height="35px">
			<MudButton Disabled="@disableDelete" Style="width:80px;height:35px;" Variant="Variant.Filled" Size="Size.Small" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Info">Xóa</MudButton>
		</MudPaper>
		<MudPaper Class="mud-theme-info" Width="80px" Height="35px">
			<MudButton Disabled="@disableUpdate" Style="width:80px;height:35px;" Variant="Variant.Filled" Size="Size.Small" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Info">Sửa</MudButton>
		</MudPaper>
		<MudPaper Class="mud-theme-info" Width="80px" Height="35px">
			<MudButton Disabled="@disableSave" Style="width:80px;height:35px;" OnClick="@SaveEMSChungTu" Variant="Variant.Filled" Size="Size.Small" StartIcon="@Icons.Filled.Save" Color="Color.Info">Lưu</MudButton>
		</MudPaper>
		<MudPaper Class="mud-theme-info" Width="80px" Height="35px">
			<MudButton Disabled="@disableFind" Style="width:80px;height:35px;" Variant="Variant.Filled" Size="Size.Small" StartIcon="@Icons.Filled.Search" Color="Color.Info">Tìm</MudButton>
		</MudPaper>
		<MudPaper Class="mud-theme-info" Width="120px" Height="35px">
			<MudButton Disabled="@disableUndo" Style="width:120px;height:35px;" OnClick="@UpdateStateButtonUndo" Variant="Variant.Filled" Size="Size.Small" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Info">Trở lại</MudButton>
		</MudPaper>
	</MudPaper>
	<MudSpacer />
</MudAppBar>

@code {

	//button
	//disable button
	private bool disableAdd = false;
	private bool disableUpdate = false;
	private bool disableDelete = false;
	private bool disableSave = true;
	private bool disableUndo = true;
	private bool disableFind = false;
	//xu ly button
	private void UpdateStateButtonAdd()
	{
		disableAdd = true;
		disableUpdate = true;
		disableDelete = true;
		disableFind = true;
		disableSave = false;
		disableUndo = false;

	}
	private void UpdateStateButtonUndo()
	{
		disableAdd = false;
		disableUpdate = false;
		disableDelete = false;
		disableFind = false;
		disableSave = true;
		disableUndo = true;

	}
	//loai chung tu
	private IEnumerable<LoaiChungTuModel> listLoaiChungTu { get; set; }
	private LoaiChungTuModel loaiChungTuModel { get; set; } = new LoaiChungTuModel();
	// nguon goc loi bao hanh
	private IEnumerable<MnNguonGocLoiModel> listNguonGocLoi { get; set; }
	private MnNguonGocLoiModel mnNguonGocLoiBaoHanhModel { get; set; } = new MnNguonGocLoiModel();

	// loai chung tu zet duyet
	private IEnumerable<LCTXETDUYETModel> listChungTuXD { get; set; }
	private LCTXETDUYETModel lctXETDUYETModel { get; set; } = new LCTXETDUYETModel();
	// du lieu input
	private EmsDeNghiChinhSuaDuLieuInModel inModel { get; set; } = new EmsDeNghiChinhSuaDuLieuInModel();
	// user
	private string username = "";
	private DateTime dateFrom = DateTime.Today;

	//Convert
	Func<LoaiChungTuModel, string> converterLoaiChungTu = p => p?.LoaiPhieu;
	Func<MnNguonGocLoiModel, string> converterNguonGocLoiBH = p => p?.LoaiLoi;
	Func<LCTXETDUYETModel, string> converterLoaiChungTuXD = p => p?.MoTa;
	//


	//
	protected override async Task OnInitializedAsync()
	{

		var checkAuth = await auth.GetAuthenticationStateAsync();
		if (checkAuth != null)
		{
			username = checkAuth.User.Identity.Name;
			if (username != null)
			{
				Console.WriteLine("username dang nhap : " + username);
				listLoaiChungTu = (await MNService.ListChungTu()).ToList();
				listNguonGocLoi = (await MNService.ListNguonGocLoi()).ToList();
				listChungTuXD = (await MNService.ListLCTXETDUYET()).ToList();
			}
		}
	}
	private UploadedFile uploadedFile = new UploadedFile();
	private async Task OnChange(InputFileChangeEventArgs e)
	{
		var files = e.GetMultipleFiles();
		if(files != null)
		{
			foreach (var file in files)
			{
				using (var ms = new MemoryStream())
				{
					await file.OpenReadStream().CopyToAsync(ms);
					uploadedFile.FileName = file.Name;
					uploadedFile.FileContent = ms.ToArray();
				}
			}
		}

	}
	private async Task SaveEMSChungTu()
	{

		inModel.LoaiChungTu = lctXETDUYETModel.MaXetDuyet;
		inModel.NguyeNhanLoi = mnNguonGocLoiBaoHanhModel.SoChungTu;
		inModel.HinhThucChinhSua = lctXETDUYETModel.MaXetDuyet;
		inModel.ChungTuLq = loaiChungTuModel.LoaiPhieu;
		inModel.CreatedBy = username;
		inModel.UrlAnh = uploadedFile;
		if (inModel.CreatedBy == null)
		{
			Snackbar.Add("Chua co ten username", Severity.Warning);
		}
		else if (inModel.LoaiChungTu == null)
		{
			Snackbar.Add("Chua co loai chung tu", Severity.Warning);
		}
		else if (inModel.NguyeNhanLoi == null)
		{
			Snackbar.Add("Chua co nguyen nhan gay loi", Severity.Warning);
		}
		else if (inModel.HinhThucChinhSua == null)
		{
			Snackbar.Add("Chua chon hinh thuc chinh sua ", Severity.Warning);
		}
		else if (inModel.SoChungTu == null)
		{
			Snackbar.Add("Chua co so  chung tu", Severity.Warning);
		}
		else if (inModel.ChungTuLq == null)
		{
			Snackbar.Add("Chua co chung tu lien quan", Severity.Warning);
		}
		else if (inModel.HinhThucChinhSua == null)
		{
			Snackbar.Add("Chua co hinh thuc chinh sua", Severity.Warning);
		}
		else if (inModel.NoiDung == null)
		{
			Snackbar.Add("Chua co noi dung", Severity.Warning);
		}
		else if( inModel.UrlAnh == null)
		{
			Snackbar.Add("Chua gan anh chun tu lien quan ",Severity.Warning);
		}
		else
		{
			var rs = await DeNghiService.InsertPhieuDeNghiChinhSua(inModel);
			if (rs.Successful)
			{
				Snackbar.Add("Them thanh cong", Severity.Success);
			}
			else
			{
				Snackbar.Add("Loi :" + rs.Errors, Severity.Error);
			}
		}

	}
}
