@page "/login"
@inject IUserService UserService
@inject MudBlazor.ISnackbar snackBar
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@if (loading == true)
{
	<MudProgressLinear Color="Color.Secondary" Size="Size.Small" Indeterminate="true" />
}
else
{
	<div style="max-width: 800px;position:sticky;padding-left:35%;margin-top:50px;">
		<EditForm Model="@loginModel" OnValidSubmit="OnValidSubmit">
			<DataAnnotationsValidator />
			<MudCard Style="background-color:khaki;" Outlined="true">

				<MudCardContent>
					<MudText Style="text-align:center;" Typo="Typo.h5"> Đăng nhập </MudText>
					<MudForm @bind-IsValid="@success">
						<MudTextField T="string" Label="Username" Required="true" Variant="Variant.Outlined"
									  @bind-Value="loginModel.UserName" For="@(() => loginModel.UserName)" />
						<MudTextField T="string" Label="Password" Variant="Variant.Outlined"
									  @bind-Value="loginModel.Password" For="@(() => loginModel.Password)"
									  InputType="InputType.Password"
									  Required="true" />
					</MudForm>
				</MudCardContent>
				<MudCardActions>
					<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto">Login</MudButton>
				</MudCardActions>
			</MudCard>
		</EditForm>
	</div>
}
@code {
	bool loading = false;
	bool success;
	public LoginModel loginModel { get; set; } = new LoginModel();

	private async Task OnValidSubmit()
	{
		if (loginModel.UserName == null)
		{
			snackBar.Add(" vui lòng nhập Username để đăng nhập ", Severity.Warning);
		}
		else if (loginModel == null)
		{
			snackBar.Add(" vui lòng nhập Login để đăng nhập ", Severity.Warning);
		}
		else {
			loading = true;
			var result = await UserService.Login(loginModel);
			loading = false;
			if (result.Successful)
			{
				snackBar.Add("Đăng nhập thành công ", Severity.Success);
				NavigationManager.NavigateTo("/", true);
			}
			else
			{
				snackBar.Add(result.Errors.ToString(), Severity.Error);
				NavigationManager.NavigateTo("/login");
			}
		}

	}
}